<!doctype html>
<html lang="en" ng-app="demo-repository">
<head>
<meta charset="utf-8">
<title>Mule Demo Repository</title>
<link rel="stylesheet" href="css/normalize.css">
<link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="lib/high/styles/github.css">
<link rel="stylesheet" href="css/bootstrap-tag-cloud.css">
<link href="lib/angular-xeditable-0.1.4/css/xeditable.css" rel="stylesheet">
</head>
<body ng-controller="MainCtrl">
    <div id="banner" class="row-fluid">
        <h1 class="main">MuleSoft Demo Repository</h1>
        <div ng-show="signedIn()" class="header_search pull-right" ng-cloak>
            <button popover-placement="left" popover="{{searchCriteria.target.description}}" popover-trigger="mouseenter" class="btn" ng-click="toggleSearchTarget()">{{searchCriteria.target.label}}</button>
            <form ng-submit="search()">
                <input class="typeahead" type="text" placeholder="{{searchCriteria.target.hint}}" bs-typeahead="{{searchCriteria.target.suggestions}}" ng-model="searchCriteria.text"/>
            </form>
            <a class="btn btn-primary ng-scope" ui-sref="demos.search" popover-placement="bottom" popover="Advanced Search Form" popover-trigger="mouseenter" href="#/demos/search">
                    <i class="icon-search icon-white"></i>
                </a>
        </div>
    </div>
    <div alert-bar x-alertmessage="errorService.errorMessage"></div>
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav" ng-cloak>
                <li ng-show="signedIn()" ng-class="{ active: isActive('demos') }">
                    <a ui-sref="demos.index">Demos</a>
                </li>
                <li ng-show="signedIn() && isAuthor()" ng-class="{ active: isActive('repositories') }">
                    <a ui-sref="repositories.index">My Repositories</a>
                </li>
                <li ng-show="signedIn()" ng-class="{ active: isActive('snippets') }">
                    <a ui-sref="snippets">Snippets</a>
                </li>
                <li ng-show="signedIn() && isAuthor()" ng-class="{ active: isActive('gists') }">
                    <a ui-sref="gists">My Gists</a>
                </li>
                <li ng-class="{ active: isActive('home') }">
                    <a ui-sref="home">Home</a>
                </li>
                
            </ul>
            <ul class="nav pull-right" ng-cloak>
                <li class="welcome" ng-show="signedIn()" ng-cloak>{{welcome()}}</li>
                <li class="pull-right" ng-hide="signedIn()" ng-class="{ active: isActive('login') }">
                    <a ui-sref="login">Sign In</a>
                </li>
                <li class="pull-right" ng-show="signedIn()">
                    <a ng-click="logout()">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <div ui-view></div>

    <script src="lib/jquery-1.9.1.js"></script>
    <script src="lib/underscore-1.5.1.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-resource.js"></script>
    
    <script src="lib/angular-bootstrap-0.6.0.js"></script>
    <script src="lib/restangular.js"></script>
    <script src="lib/angular-strap-0.7.5.js"></script>
    <script src="lib/angular-xeditable-0.1.4/js/xeditable.js"></script>
    <script src="lib/showdown.js"></script>
    <script src="lib/moment.js"></script>
    <script src="lib/ui-router.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/high/highlight.pack.js"></script>
    <script src="lib/bootstrap-tag-cloud.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>

    
</body>
</html>
